                <!-- Banner -->
                {{ with .Params.banner }}
                <section class="banner {{.style | default `style1`}} {{.orient | default ``}} {{.contentAlign | default ``}} {{.imagePosition | default ``}} {{if isset . `fullscreen`}}fullscreen{{end}} {{if isset . `invert`}}invert{{end}} {{.onload.image | default ``}} {{.onload.content | default ``}} {{.onscroll.image | default ``}} {{.onscroll.content | default ``}} {{.color | default ``}}">
                    <div class="content">
                        {{ with .title }}<h1>{{.}}</h1>{{end}}
                        {{ with .subtitle }}<p class="major">{{ . }}</p>{{end}}
                        <p>{{$.Summary}}</p>
                        {{ with .action }}<ul class="actions stacked">
                            {{if isset . "self" }}
                            <li><a href="{{ $.RelPermalink }}" class="button large wide smooth-scroll-middle">{{ .label }}</a></li>
                            {{ else }}
                                <li><a href="{{ .url }}" class="button large wide smooth-scroll-middle">{{ .label }}</a></li>
                            {{ end }}
                        </ul>
                        {{ end}}
                    </div>
                    {{ with .logo }}
                    <div class="image">
                        <img src="{{.src}}" alt="{{.alt}}" />
                    </div>
                    {{end}}
                </section>
                {{ end }}